<form action="/secret" method ="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<label for="secret">Secret</label>
	<input id="test" name="test" type="text">
	<input type="submit" value="New Secret">
</form>